<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <%
    shipment_info = JSON.parse(shipmentinfo);
    %>

</head>
<body>
<p>Welcome to <%= title %></p>
<p><%= shipment_info['fname'] + ' ' + shipment_info['lname'] %></p>
</body>
</html>
